Repository NNPDF/pineappl: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, check, clippy

fmt:
  name: cargo fmt
  description: Format Rust files with cargo fmt.
  entry: cargo fmt --
  language: system
  args: []

check:
  name: cargo check
  description: Run cargo check.
  entry: bash -c 'cargo check --all-targets --features=evolve,fktable'
  language: system
  require_serial: true

clippy:
  name: cargo clippy
  description: Check Rust files with cargo clippy.
  entry: cargo clippy --all-targets --features=evolve,fktable -- -Awarnings
  pass_filenames: false
  language: system

Backport fix for Issue #334 to `pineappl_v0` crate
  pineappl_v0/src/grid.rs
Due: fmt, check, clippy

Deduplicate code
  pineappl/src/v0.rs
Due: fmt, check, clippy

Rename test to mark it as a regression test
  CONTRIBUTING.md
  pineappl_cli/tests/convolve.rs
Due: fmt, check, clippy

Properly fix Drell—Yan spelling
  pineappl/src/boc.rs
Due: fmt, check, clippy

Reuse `Grid::pid_basis` from `pineappl_v0`
  pineappl/src/v0.rs
Due: fmt, check, clippy

Remove unneeded dependencies from `pineappl_v0`
  Cargo.lock
  pineappl_v0/Cargo.toml
Due: none

Remove more `Subgrid` methods in `pineappl_v0` crate
  pineappl_v0/src/empty_subgrid.rs
  pineappl_v0/src/import_only_subgrid.rs
  pineappl_v0/src/lagrange_subgrid.rs
  pineappl_v0/src/ntuple_subgrid.rs
  pineappl_v0/src/subgrid.rs
Due: fmt, check, clippy

Drop compressed `Grid::read` in `pineappl_v0` crate
  Cargo.lock
  pineappl/src/v0.rs
  pineappl_v0/Cargo.toml
  pineappl_v0/src/grid.rs
Due: fmt, check, clippy

Remove code from `bin.rs`
  pineappl_v0/src/bin.rs
  pineappl_v0/src/convert.rs
Due: fmt, check, clippy

Rip out a large chunk of code from `pineappl_v0`
  Cargo.lock
  pineappl_v0/Cargo.toml
  pineappl_v0/src/bin.rs
  pineappl_v0/src/boc.rs
  pineappl_v0/src/convolutions.rs
  pineappl_v0/src/empty_subgrid.rs
  pineappl_v0/src/grid.rs
  pineappl_v0/src/import_only_subgrid.rs
  pineappl_v0/src/lagrange_subgrid.rs
  pineappl_v0/src/lib.rs
  pineappl_v0/src/ntuple_subgrid.rs
  pineappl_v0/src/packed_array.rs
  pineappl_v0/src/pids.rs
  pineappl_v0/src/sparse_array3.rs
  pineappl_v0/src/subgrid.rs
Due: fmt, check, clippy

Remove some final bits of code in `pineappl_v0`
  pineappl_v0/src/boc.rs
  pineappl_v0/src/convolutions.rs
Due: fmt, check, clippy

Fix some clippy warnings
  pineappl_v0/src/bin.rs
  pineappl_v0/src/grid.rs
  pineappl_v0/src/sparse_array3.rs
Due: fmt, check, clippy

Remove obsolete comment
  pineappl/Cargo.toml
Due: none

Increase test coverage by testing `LagrangeSubgrid*` types
  .github/actions/cache-test-data/action.yml
  maintainer/download-test-data.sh
  pineappl_cli/tests/convolve.rs
Due: fmt, check, clippy

Fix file name of the new test data
  maintainer/download-test-data.sh
Due: none

Increase cache number
  .github/actions/cache-test-data/action.yml
Due: none

Increase cache version to download fixed grid
  .github/actions/cache-test-data/action.yml
Due: none

Fix test output
  pineappl_cli/tests/convolve.rs
Due: fmt, check, clippy

Increase test coverage
  .github/actions/cache-test-data/action.yml
  maintainer/download-test-data.sh
  pineappl_cli/tests/convolve.rs
Due: fmt, check, clippy

Fix test-data link
  .github/actions/cache-test-data/action.yml
  maintainer/download-test-data.sh
Due: none

Increase test coverage
  .github/actions/cache-test-data/action.yml
  maintainer/download-test-data.sh
  pineappl_cli/tests/convolve.rs
  pineappl_v0/src/grid.rs
Due: fmt, check, clippy

Update `CHANGELOG.md`
  CHANGELOG.md
Due: none

Update `pineappl_v0` documentation
  pineappl_v0/Cargo.toml
  pineappl_v0/README.md
Due: none

Fix `rustls-webpki` vulnerability
  Cargo.lock
Due: none

Update `rustc-hash` dependency
  Cargo.lock
  pineappl/Cargo.toml
Due: none

Remove one dependency to `redox_syscall`
  Cargo.lock
Due: none

Remove unneeded constant
  pineappl_cli/tests/convolve.rs
Due: fmt, check, clippy

Move all dependencies to the workspace `Cargo.toml` file
  Cargo.toml
  pineappl/Cargo.toml
  pineappl_applgrid/Cargo.toml
  pineappl_capi/Cargo.toml
  pineappl_cli/Cargo.toml
  pineappl_fastnlo/Cargo.toml
  pineappl_py/Cargo.toml
  pineappl_v0/Cargo.toml
  xtask/Cargo.toml
Due: none

Raise test coverage of `pineappl_v0` crate
  Cargo.toml
  pineappl_v0/src/bin.rs
  pineappl_v0/src/boc.rs
  pineappl_v0/src/empty_subgrid.rs
  pineappl_v0/src/ntuple_subgrid.rs
Due: fmt, check, clippy

Fix wrong method call in test
  pineappl_v0/src/empty_subgrid.rs
Due: fmt, check, clippy

Allow missing documentation in `xtask` crate
  xtask/src/main.rs
Due: check, clippy

Update `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: none

Update `cxx` and related crates to fix some clippy warnings
  Cargo.lock
  Cargo.toml
Due: none

Fix a few clippy lints
  clippy.toml
  pineappl/src/boc.rs
  pineappl/src/convert.rs
  pineappl/src/fk_table.rs
  pineappl/src/grid.rs
  pineappl/src/packed_array.rs
  pineappl/src/pids.rs
  pineappl_capi/src/lib.rs
  pineappl_cli/src/export.rs
  pineappl_cli/src/helpers.rs
  pineappl_cli/src/import/fastnlo.rs
  pineappl_cli/src/import/fktable.rs
  pineappl_cli/src/plot.rs
  pineappl_cli/src/write.rs
  pineappl_v0/src/lagrange_subgrid.rs
  xtask/src/install_manpages.rs
  xtask/src/main.rs
Due: fmt, check, clippy

Run `cargo fmt`
  pineappl/src/boc.rs
  pineappl/src/evolution.rs
  pineappl/src/fk_table.rs
  pineappl/src/grid.rs
  pineappl/src/interpolation.rs
  pineappl/src/packed_array.rs
  pineappl/src/pids.rs
  pineappl/src/v0.rs
  pineappl_applgrid/src/lib.rs
  pineappl_capi/src/lib.rs
  pineappl_cli/src/analyze.rs
  pineappl_cli/src/channels.rs
  pineappl_cli/src/convolve.rs
  pineappl_cli/src/diff.rs
  pineappl_cli/src/evolve.rs
  pineappl_cli/src/export.rs
  pineappl_cli/src/export/applgrid.rs
  pineappl_cli/src/helpers.rs
  pineappl_cli/src/import.rs
  pineappl_cli/src/import/fastnlo.rs
  pineappl_cli/src/import/fktable.rs
  pineappl_cli/src/orders.rs
  pineappl_cli/src/plot.rs
  pineappl_cli/src/pull.rs
  pineappl_cli/src/read.rs
  pineappl_cli/src/uncert.rs
  pineappl_cli/src/write.rs
  pineappl_cli/tests/write.rs
  pineappl_v0/src/ntuple_subgrid.rs
Due: fmt, check, clippy

Downgrade MSRV to 1.91.0
  Cargo.toml
  README.md
  maintainer/Containerfile
Due: none

Temporarily disable CI
  .github/workflows/capi.yaml
  .github/workflows/msrv.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
Due: none

Raise patch version of Rust
  maintainer/Containerfile
Due: none

Revert "Raise patch version of Rust"
  maintainer/Containerfile
Due: none

Reapply "Raise patch version of Rust"
  maintainer/Containerfile
Due: none

Path conditions:
  fmt: any of: ^pineappl\S*\/.*\.rs$
  check: any of: \.rs$
  clippy: any of: \.rs$
